<header>
</header>

<main class="max-w-2xs mx-auto text-center my-32">
  <div class="text-center">
    <p class="text-4xl"><%= @count.count %></p>
  </div>

  <button class="hover:bg-red-200 bg-red-500 mx-auto my-12 text-white font-bold py-2 px-4 rounded">
    あああ
  </button>

  <button class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
    ああああ
  </button>
</main>

<footer>
</footer>